*{
    box-sizing: border-box;
}
header{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
}
.brand{
    width: 20%;
}
.menubar{
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
gap: 10px;
position: relative;
}
.menu{
display: flex;

width: 60%;
}

.menu ul{
display: flex;
align-items: center;
justify-content: space-around;
gap: 30px;
list-style: none;
}
.menu ul li:hover{
cursor: pointer;
border-bottom: 3px solid orange;
padding-bottom: 5px;
}
.avatar img{
    width: 40px;
}
.mobile-bar{
    display: none;
}
@media (max-width:780px) {
    .mobile-bar{
        display: flex;
    }
    .menu{
        display: none;
    }
}
.sport{
    justify-content:center;
    width: 70%;
    display: flex;
    align-items: center;
    
}
.tasvir{
    
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    flex-direction: column;
    gap:1rem;
}
.tasvir2{
    justify-content: center;
    cursor: pointer;
    max-width: 60%;
    align-items: center;
    display: flex;
   /* background-color: aqua;*/
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin-top: 3rem;
}
.avatar{
    width: 50%;
}


.sport img{
    width: 70%;
    height: 70%;
}
.tasvir2 img{
    width: 50%;
    height: 50%;
}
h6{
    text-decoration: line-through;
}


.sneaker{
    display: flex;
    align-items:left;
    flex-direction: column;
    justify-content:center;
    width: 50%;
}
.addcart{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    margin: 10px;
    cursor: pointer;
}
.addcart div span{
    padding: 10px;
}
.addcart div{
    padding: 10px;
    border-radius: 10px;
}
.addcart div:first-child{
    background-color: gray;
    
}
.addcart div:last-child{
    display: flex;
    background-color:orangered ;
    
}

.percent{
    display: flex;
    align-items: flex-start;
    justify-content: left;
   
    width: 50%;
}
.percent div:first-child{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 10px;
}
.percent div:last-child{
    justify-content: space-around;
    padding-top: 20px;
    margin-left: 10px;
    background-color: orange;
    color: orangered;

}
.btnatcart{
    color: white;
}

.percent h6 {
    color: grey;
}
.sneaker p{
    color: grey;
}
.sneaker h5{
    color: orange;
}
main img{
    border-radius: 10px;
}

.showcart{
    background-color: rgb(228, 223, 223);
    width: 200px;
    height: 150px;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    left: -6rem;
    top: 3rem;
    display: none;
    animation: cart 1s ease-in-out;
}

.menubar:hover .showcart{
    display: flex;
    flex-direction: column;
    
    
}
@keyframes cart{
    0%{
        left: -8rem;
        top:5rem;
        opacity: 0.3;
    }       
    50%{
        left: -7rem;
        top:4rem;
        opacity: 0.6;
    }       
    100%{
        left: -6em;
        top: 3rem;
        opacity: 0.8;
    }       
}